In [1]:
# string in csv format
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

# Open the file books2.csv in write mode as outfile
with open('books2.csv', 'wt') as outfile:
    # Write the contents of the text string to outfile
    outfile.write(text)

In [2]:
import sqlite3

# Connects to the books.db database using the sqlite3.connect function
db = sqlite3.connect('books.db')

# Creates a cursor object that allows you to execute SQL commands on the database
curs = db.cursor()

# Execute an SQL command to create a table called book with title text and year
curs.execute('''CREATE TABLE book (title text, author text, year int)''')

db.commit()

In [3]:
import csv
import sqlite3

# Define an insert statement string to insert data into a book table in a SQLite database
ins_str = 'insert into book values(?, ?, ?)'

# Open the books2.csv file in reading mode
with open('books2.csv', 'rt') as infile:
    # Read the contents of the file into a list of dictionaries using the csv.DictReader function
    books = csv.DictReader(infile)
    # Iterate over the list of dictionaries
    for book in books:
        # Execute the insert statement for each book using the execute() method on the cursor object,
        # passing the values for title, author, and year obtained from the dictionary as parameters
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

db.commit()

In [4]:
# Define an SQL query to select the title column from the book table 
# and order the results in ascending order by the title column.
sql = 'select title from book order by title asc'

# Execute the query using the execute() method on the database connection object
for row in db.execute(sql):
    # For each row in the results, print the contents of the title column
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [5]:
# Execute an SQL query to select all columns from the book table 
# and order the results in ascending order by the year column.
for row in db.execute('select * from book order by year asc'):
    # For each row in the results, print the contents of all columns, separated by a comma and a space
    print(*row, sep = ', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

In [6]:
# Import the SQLAlchemy module
import sqlalchemy

# Create a database engine to connect to the SQLite database file named "books.db"
conn = sqlalchemy.create_engine('sqlite:///books.db')

# Define an SQL query to select the title column from the book table 
# and order the results in ascending order by the title column.
sql = 'select title from book order by title asc'

# Execute the query using the execute() method on the database engine object
rows = conn.execute(sql)

# Iterate over the rows in the query results
for row in rows:
    # For each row, print the contents of the title column
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)